/* Sidebar.css */
.sidebar {
    width: 250px;
    height: 100vh;
    background-image: url("https://images6.alphacoders.com/123/1233563.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .sidebar ul li {
    margin: 10px 0;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
  }
  